* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #95A5A6;
}

.content {
    width: 1000px;
    max-width: 100%;
    margin: auto;
}

/* Navigation menu */

.pure-menu.pure-menu-horizontal>.pure-menu-heading.pure-menu-heading {
    font-size: 2em;
    text-transform: none;
}

.pure-menu li {
    text-align: center;
}

.pull-right {
    float: right;
}

.social-links {
    font-size: 2em;
}

/* Posts on the index page */

.post-entry, .post {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
    background: white;
    padding: 1px 40px 40px 40px;
    margin-top: 30px;
    text-align: justify;
}

.post-entry {
    font-size: 1.2em;
}

.thumbnail {
    float: left;
    width: 75px;
    margin-top: -20px;
    margin-left: -62px;
    border-radius: 100px;

}

.post-entry h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 25px;
}

.post-entry h2 a {
    color: #50585D;
    transition: color ease 0.3s;
    text-decoration: none;
}

.post-entry h2 a:hover {
    color: #57A3E8;
}

.post-entry .date-box {
    height: 2px;
    background-color: #7A7A7A;
    text-align: center;
}

.post-entry .date-outer {
    background-color: #fff; 
    position: relative; 
    top: -0.7em;
}

.post-entry .date-inner {
    margin: 0px 20px; 
}

.post-entry .excerpt {
    margin: 25px 0;
}

/*

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    width: 75px;
    border-radius: 100px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

*/

/* CUSTOM CSS */

/*

body {
    width: 1000px;
    max-width: 100%;
    margin: auto;
    font: 16px;
}

.pure-menu {
    background: black;   
}

.pure-menu i {
    font-size: 1.5em;
}

.pull-right {
    float: right;
}

.content {
    margin-top: 50px;
}

@font-face {
  font-family: 'my-icons';
  src: url('../font/my-icons.eot?20275724');
  src: url('../font/my-icons.eot?20275724#iefix') format('embedded-opentype'),
       url('../font/my-icons.woff?20275724') format('woff'),
       url('../font/my-icons.ttf?20275724') format('truetype'),
       url('../font/my-icons.svg?20275724#my-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "my-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.icon-linkedin:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-tags:before { content: '\e805'; }

*/
