* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #95A5A6;
    padding-bottom: 20px;
    font-family: 'Droid Serif', serif;
    text-align: justify;
}

footer {
    text-align: center;
}

.content {
    width: 1200px;
    max-width: 95%;
    margin: auto;
}

.center {
    text-align: center;
}

/* Navigation menu */

.pure-menu.pure-menu-horizontal>.pure-menu-heading.pure-menu-heading {
    font-size: 2em;
    text-transform: none;
}

.pure-menu li {
    text-align: center;
}

.pull-right {
    float: right;
}

.social-links {
    font-size: 2em;
}

/* List of posts */

.post-entry, .container {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
    background: white;
    padding: 1px 40px 40px 40px;
    margin-top: 30px;
    text-align: justify;
}

.post-entry {
    font-size: 1.2em;
}

.thumbnail {
    float: left;
    width: 75px;
    height: 75px;
    margin-top: -20px;
    margin-left: -62px;
    border-radius: 100px;
    background-color: white;
}

.post-entry h2 {
    text-align: center;
    font-size: 1.67em;
    margin-bottom: 25px;
}

.post-entry h2 a {
    color: #50585D;
    transition: color ease 0.3s;
    text-decoration: none;
}

.post-entry h2 a:hover {
    color: #57A3E8;
}

.post-entry .date-box {
    height: 2px;
    background-color: #7A7A7A;
    text-align: center;
}

.post-entry .date-outer {
    background-color: #fff; 
    position: relative; 
    top: -0.7em;
}

.post-entry .date-inner {
    margin: 0px 20px; 
}

.post-entry .excerpt {
    margin: 25px 0;
}

/* Post */

.post h1 {
    text-align: center;
    font-size: 2em;
    color: #50585D;
}

.post h2 {
    font-size: 1.7em;
}

.post h3 {
    font-size: 1.3em;
}

.post img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post table, .post th, .post td {
  border: 1px solid black;
  padding: 5px;
}

.post table {
  margin: auto;
}

/* Simple Share buttons */

.ssba, .ssba a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    background:none;
}

.ssba img {
    width:60px !important;
    padding:10px;
    border:0;
    box-shadow:none !important;
    display:inline !important;
    vertical-align:middle
}

/* Media queries */

@media screen and (max-width: 568px) {
  .social-links a {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .pure-menu.pure-menu-horizontal>.pure-menu-heading.pure-menu-heading {
      display: none;
  }
}

/* Pygments theme: see http://sourcey.com/darkly-pygments-css-theme/ */

.highlight {
  white-space: pre; 
  overflow: auto; 
  word-wrap: normal; /* horizontal scrolling */
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px;
  padding: 5px 20px;
  background: #343642;
  color: #C1C2C3;
}
.highlight .hll { background-color: #ffc; }
.highlight .gd { color: #2e3436; background-color: #0e1416; }
.highlight .gr { color: #eeeeec; background-color: #c00; }
.highlight .gi { color: #babdb6; background-color: #1f2b2d; }
.highlight .go { color: #2c3032; background-color: #2c3032; }
.highlight .kt { color: #e3e7df; }
.highlight .ni { color: #888a85; }
.highlight .c,.highlight .cm,.highlight .c1,.highlight .cs { color: #8D9684; }
.highlight .err,.highlight .g,.highlight .l,.highlight .n,.highlight .x,.highlight .p,.highlight .ge,
.highlight .gp,.highlight .gs,.highlight .gt,.highlight .ld,.highlight .s,.highlight .nc,.highlight .nd,
.highlight .ne,.highlight .nl,.highlight .nn,.highlight .nx,.highlight .py,.highlight .ow,.highlight .w,.highlight .sb,
.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .sr,
.highlight .s1,.highlight .ss,.highlight .bp { color: #C1C2C3; }
.highlight .k,.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kp,.highlight .kr,
.highlight .nt { color: #729fcf; }
.highlight .cp,.highlight .gh,.highlight .gu,.highlight .na,.highlight .nf { color: #E9A94B ; }
.highlight .m,.highlight .nb,.highlight .no,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,
.highlight .il { color: #8ae234; }
.highlight .o { color: #989DAA; }
.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi { color: #fff; }

/* Custom font for icons generated on Fontello */

@font-face {
  font-family: 'my-icons';
  src: url('../font/my-icons.eot?29073368');
  src: url('../font/my-icons.eot?29073368#iefix') format('embedded-opentype'),
       url('../font/my-icons.woff?29073368') format('woff'),
       url('../font/my-icons.ttf?29073368') format('truetype'),
       url('../font/my-icons.svg?29073368#my-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "my-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.icon-linkedin:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-user:before { content: '\e802'; }
.icon-rss:before { content: '\e803'; }
.icon-home:before { content: '\e804'; }
.icon-tags:before { content: '\e805'; }
.icon-mail-alt:before { content: '\e806'; }

/* Categories */

.button-category {
    font-weight: bold;
    padding: 4px 8px;
    color: white;
}

.category-android {
    background-color: #2FAD4B;
}

.category-golang {
    background-color: #0E58B2;
}

.category-scala {
    background-color: #A30000;
}

.category-tizen {
    background-color: #0E59B5;
}

.category-intellij, .category-wordpress, .category-mybooklive, .category-google, .category-online {
    background-color: #4F4F4F;
}
