* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #95A5A6;
    padding-bottom: 20px;
    font-family: 'Droid Serif', serif;
    text-align: justify;
}

.content {
    width: 1000px;
    max-width: 100%;
    margin: auto;
}

.center {
    text-align: center;
}

/* Navigation menu */

.pure-menu.pure-menu-horizontal>.pure-menu-heading.pure-menu-heading {
    font-size: 2em;
    text-transform: none;
}

.pure-menu li {
    text-align: center;
}

.pull-right {
    float: right;
}

.social-links {
    font-size: 2em;
}

/* List of posts */

.post-entry, .container {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
    background: white;
    padding: 1px 40px 40px 40px;
    margin-top: 30px;
    text-align: justify;
}

.post-entry {
    font-size: 1.2em;
}

.thumbnail {
    float: left;
    width: 75px;
    height: 75px;
    margin-top: -20px;
    margin-left: -62px;
    border-radius: 100px;
}

.post-entry h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 25px;
}

.post-entry h2 a {
    color: #50585D;
    transition: color ease 0.3s;
    text-decoration: none;
}

.post-entry h2 a:hover {
    color: #57A3E8;
}

.post-entry .date-box {
    height: 2px;
    background-color: #7A7A7A;
    text-align: center;
}

.post-entry .date-outer {
    background-color: #fff; 
    position: relative; 
    top: -0.7em;
}

.post-entry .date-inner {
    margin: 0px 20px; 
}

.post-entry .excerpt {
    margin: 25px 0;
}

/* Post */

.post {
    font-size: 1.1em;
}

.post h1 {
    text-align: center;
    font-size: 2em;
    color: #50585D;
}

.post h2 {
    font-size: 1.7em;
}

.post h3 {
    font-size: 1.3em;
}

.post img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Simple Share buttons */

.ssba, .ssba a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    background:none;
}

.ssba img {
    width:60px !important;
    padding:10px;
    border:0;
    box-shadow:none !important;
    display:inline !important;
    vertical-align:middle
}

/* Categories */

.button-category {
    font-weight: bold;
    padding: 4px 8px;
    color: white;
}

.category-golang {
}
