---
layout: default
redirect_from:
  - /tags/jdk/
  - /tags/scala/
  - /tags/serveur-web/
  - /tags/commentaires/
  - /tags/sdk/
  - /tags/authorship/
  - /tags/commentaires/
  - /tags/wordpress/
  - /tags/json/
  - /tags/windows-8/
  - /tag/commentaires/
  - /tag/cron/
  - /tag/cron/
  - /category/tizen/
  - /tag/ssh/
  - /tag/bitbucket/
  - /tag/jdk/
  - /tag/git/
  - /tag/intellij/
  - /tag/windows-8/
  - /tag/ubuntu/
  - /tag/tizen-2/
  - /tag/rsync/
  - /tag/serveur-web/
  - /tag/suffusion/
  - /tag/golang/
  - /tag/robocopy/
  - /tag/wordpress/
  - /tag/scala/
  - /tag/tache-planifiee/
  - /tag/windows/
  - /tag/json/
  - /tag/authorship/
  - /category/divers/
  - /category/android/
  - /tag/android-studio/
  - /tag/disqus/
  - /tag/mybooklive/
  - /tag/sdk/
  - /tag/google/
  - /tag/tizen-cli/

---

{% for post in paginator.posts %}
  {% include post-summary.html %}
{% endfor %}

<div class="paginator center">
  {% if paginator.previous_page %}
    <a class="pure-button prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#171; Précédent</a>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pure-button next align-right" href="/page{{ paginator.next_page }}">Suivant &#187;</a>
  {% endif %}
</div>
