---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  <section class="post">
    <header class="post-header">
      <img class="post-avatar" alt="{{ post.category }}" src="{{ "/img/categories/" | prepend: site.baseurl }}{{ post.category }}.png">
      <h2 class="post-title">{{ post.title }}</h2>
      <p class="post-meta">
        Publié par Jérémy Ozog le {% include post-date.html %} dans {% include post-category.html %}
      </p>
    </header>
    <div class="post-description">
      <p>
        {{ post.description }}
      </p>
    </div>
  </section>
  {% endfor %}
</div>

<!--
<p class="rss-subscribe">
  subscribe
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
</p>
-->