<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">
        Jérémy Ozog
    </a>
    <ul>
        <li>
            <a href="/">
                <i class="icon-home"></i> <br />
                Accueil
            </a>
        </li>
        <li>
            <a href="/feed.xml">
                <i class="icon-rss"></i> <br />
                Flux RSS
            </a>
        </li>
        <li>
            <a href="/contact">
                <i class="icon-mail-alt"></i> <br />
                Contact
            </a>
        </li>
    </ul>
    <ul class="pull-right social-links">
        <li>
            <a href="https://www.linkedin.com/in/jeremyozog" title="Profil Linkedin">
                <i class="icon-linkedin"></i>
            </a>
        </li>
    </ul>
</div>
